.fuhadShiblu_contactBanner{
    @apply w-full bg-cover bg-center;
    background-repeat: no-repeat;
    background: url(../../../../public/images/contact-bg.jpg);
}
.fuhadShiblu_Anim{
    animation: portDetailsAnim 1s linear;
}
@keyframes portDetailsAnim{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}